/* base CSS */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;
}

body {
    font: 300 15px/1.6 'Droid Sans Mono',Helvetica,Arial;
    color: #222;
    background: #000;
    margin: 0;
}

/*
	Typography
*/

a {
	color: rgba(0, 188, 217, 0.8)
}

	a:visited {
    	color: rgba(0, 188, 217, 0.8)
  	}
  	a:hover, a:focus {
    	color: rgba(0, 188, 217, 0.8)
    	text-decoration: underline;
  	}

abbr {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.01em;
  text-decoration: underline;
}  	

h1, h3 {
	margin-top: 0;
}

/*
	Page wrapper
*/
.page-wrapper {
  position: relative;
}


/*
	Intro section: Contains header, summary and preamble;
*/
.intro {
	background: #FFF;
	display: inline-block;
	background-image: url(../img/icon-half.svg);
	background-repeat: no-repeat;
    background-position: right center;
    background-size: 63%;
}

	.intro header {
		border-top: 15px solid #000;
	}

		.intro header h1 {
			margin-top: 30px;
			line-height: 150px;
			font-size: 170px;
		}

		.intro header h2 {
			margin-top: -120px;
			font-style: italic;
			margin-left: 20px;
		}


/*
	Summary
*/
.intro .summary {
	background: #F5F5F5;
	display: inline-block;
	width: 850px;
}

	.intro .summary p {
		margin-left: 20px;
		margin-right: 20px;
		color: #000;
	}

	.intro .summary p a {
		
	}


/*
	Preamble
*/
.intro .preamble {
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 60px;
	position: relative;
}

	.intro .preamble h3 {
		position: absolute;
		top: 4.2em;
	    left: -5em;
	    width: auto;
		-webkit-transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	}

	.intro .preamble p {
		margin-left: 60px;
		width: 800px;
	}

/*
	Particapation
*/
.benefits h3 {
	margin-top: 50px;
}

/*
	Requirements
*/
.requirements h3 {
	margin-top: 50px;
}

/*
	Main supporting section
*/
.main {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 60%;
	padding: 20px;
	color: #fff;
}

	/*
		Particapation
	*/
	.main .participation h3 {
		margin-top: 50px;
	}


/*
	Aside / Sidebar
*/


.sidebar {
	float: right;
	width: 30%;
	padding: 30px;
	color: #fff;
}

.sidebar .select {
	position: absolute;
	left: 800px;
	top: 912px;
    width: auto;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.sidebar  .design-selection ul, .zen-resources ul {
  margin: 0;
}

.sidebar .design-archives .archives {
	margin-top: 40px;
}

.sidebar .zen-resources .resources {
	margin-top: 40px;
}

/*
	Footer
*/
footer{
	clear: both;
}





